@model ProyectoFinal.Models.TaskModel

@{
    ViewBag.Title = "Create Task";
}

<h2>Create Task</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Status)
            @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ExecutionDate)
            @Html.TextBoxFor(model => model.ExecutionDate, new { @class = "form-control", type = "date" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Package)
            @Html.TextBoxFor(model => model.Package, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QueueId)
            @Html.TextBoxFor(model => model.QueueId, new { @class = "form-control" })
        </div>
        <br />
        <input type="submit" value="Create" class="btn btn-success" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
