@model ProyectoFinal.Models.TaskModel

@{
    ViewBag.Title = "Task Details";
}

<h2>Task Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>

        <dt>Status</dt>
        <dd>@Model.Status</dd>

        <dt>Description</dt>
        <dd>@Model.Description</dd>

        <dt>Execution Date</dt>
        <dd>@Model.ExecutionDate</dd>

        <dt>Package</dt>
        <dd>@Model.Package</dd>

        <dt>Queue ID</dt>
        <dd>@Model.QueueId</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
